.pinListView {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.pinListViewTitle {
  margin-bottom: 1rem;
}

.pinList {
  list-style-type: none;
  padding: 0;
}

.listItem {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}

.listItem:last-child {
  border-bottom: none;
}
